h1{
    background-color: orange;
}
h2{
    background-color: beige;
    font-size: large;
    color:black;
}
.contenido{
    background-color: azure;
    color:orange;
}
.seccion1{
    background-color: olive;
    border: 5px solid olive;
}
